[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
uatu = {editable = true,path = "."}

[packages]
sqlalchemy = "*"
pyyaml = "*"
gitpython = "*"
click = "*"

[requires]
python_version = "3.7"
