[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
mypy = "*"
uatu = {editable = true,path = "."}

[packages]
sqlalchemy = "*"
gitpython = "*"
pyyaml = "*"
click = "*"

[requires]
python_version = "3.6"
